/*================================*/
body {
  margin: 0;
}

.main-screen-bg {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  height: 100vh;
  background-image: url(bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}